<div class="flex card-container blue-container" id="sidebar">

  <!-- Sidebar -->
  <div class="justify-content-center  bg-blue-100  border-right-2">

    <h3 class="font-bold text-orange-900">Gifs App Primeng </h3>

    <hr>

    <div class="p-list-group">
      <a href="#" class="p-button p-listbox-item-group">
        Dashboard
      </a>

    </div>

  </div>
  <!-- End Sidebar -->

  <div class="card-container">

    <div class="row p-3">

      <div class="col">
        <h5>Buscar:</h5>
        <input type="text" class="form-control" placeholder="Buscar gifs...">

      </div>

    </div>

    <hr>

    <div class="row p-3">

      <div class="col">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. In, voluptate rerum beatae architecto possimus minus porro maiores saepe quasi doloremque, modi consectetur id nemo obcaecati quam corporis magni vitae consequatur.
      </div>


    </div>

  </div>

</div>
